.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page-header__nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px){
        width: 100%;
        justify-content: space-between;
    }
    
}

.page-header .container {
    display: flex;
    align-items: center;
}


@media screen and (min-width: 300px) and (max-width:1199px) {
    .nav-list {
       display: none;
       
    }
}

.logo {
    color:#000000;
    font-family: 'Raleway';
    font-weight: 700;
    text-decoration: none;

    @media screen and (min-width: 480px) {
        font-size: 24px;   
    }

    @media screen and (min-width: 200px) {
        font-size: 26px;
    }

}

.nav__logo {
    display: block;
    
    @media screen and (min-width:480px) {
        padding-top: 16px;
        padding-bottom: 16px; 
    }

    @media screen and (min-width:768px) {
        padding-top: 26px;
        padding-bottom: 26px; 
    }

    @media screen and (min-width:1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.logo__first {
    color: var(--accent-color);
}


.nav__list {
    display: flex;
    align-items: center;
    margin-left: 88px;  

    
    @media screen and (min-width: 1200px) {
        margin-left: 93px;  
    }
}

.nav__list.list-auth {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
       display: block;
       margin-left: 90px;
       text-align: center;
    }
}


.nav__list .list-site__item+ .list-site__item {
    margin-left: 50px;
}



.list-site__link {
    display: block;
    color:var(--primary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-fuction);

    
    @media screen and (max-width: 479px) {
        width: 100%;
    }

    @media screen and (min-width: 480px) {
        font-size: 40px;
        line-height: 1.18;
    }

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: 1.14;
    } 
}

.list-site__item:not(:last-child) {
    @media screen and (max-width: 767px) {
     margin-bottom: 32px;
    }
  }

.list-site__item:last-child {
    @media screen and (max-width: 767px) {
     margin-bottom: 302px;
    }
  }

.list-site__link {
    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.current {
    color: var(--accent-color);
    position: relative;
}

@media screen and (min-width: 768px) {
    .current::after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: var(--accent-color);
    
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px; 
    }
}



.list-auth {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.list-auth__item {
    @media screen and (max-width: 479px) {
        width: 100%;
    }
}

.list-auth__item+ .list-auth__item {
    @media screen and (min-width: 1200px) {
        margin-left: 50px;
    }
}

.list-auth__item:first-child {
    @media screen and (min-width: 786px) and (max-width: 1199px) {
        margin-bottom: 10px;
    }
 }

.list-auth__link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;

    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-fuction);

    @media screen and (max-width: 479px) {
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.17;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}


.list-auth__link.tel {
    @media screen and (max-width: 767px) {
        color: var(--accent-color);
        font-size: 34px;
        line-height: 1.18;
        margin-bottom: 32px;
    }
}

.list-auth__icon {
    margin-right: 10px;
    fill: none;
    stroke: currentColor;
    text-align: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-fuction);
}

.list-auth__link {
    &:hover, &:focus {
        color: var(--accent-color);
    }

    @media screen and (max-width: 479px) {
        width: 100%;
    }

}

@media screen and (max-width: 767px) {
    .nav__list {
        display: none;
    }
}

// Mobile-menu

.menu-toggle {
    top: 10px;
    right: 15px;
    color: #fff;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background-color:#fff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
}

  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }

.mobile-menu.social-links {
    display: flex;
    margin-top: 64px;
}

.social-links__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
    
}
.social-links__item {
    position: relative;
    font-size: 18px;
    line-height: 1.22;
  }
  .social-links__item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }


  .tel-number {
    @media screen and (max-width: 479px) {
        width: 100%;
    }
  }
 