:root {
    --primary-text-color:#212121;
    --title-text-color:#757575;
    --accent-color:#2196F3;
    --primary-white-color:#Ffffff;
    --background-color:#F5F4FA;
    --border-color:#EEEEEE;
    --fill-icons: #AFB1B8;
    --timing-fuction: cubic-bezier(0.4, 0, 0.2, 1);
}